<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.itkezhan.blockchain.explorer.modules.explorer.mapper.PeerRefChaincodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.itkezhan.blockchain.explorer.modules.explorer.model.PeerRefChaincode">
        <id column="id" property="id" />
        <result column="peer_id" property="peerId" />
        <result column="chaincode_id" property="chaincodeId" />
        <result column="chaincode_version" property="chaincodeVersion" />
        <result column="channel_id" property="channelId" />
        <result column="create_time" property="createTime" />
        <result column="network_name" property="networkName" />
    </resultMap>

</mapper>
